<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>579023396700-bn30q2ubfofla237ouh4e6untit8qj48.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.579023396700-bn30q2ubfofla237ouh4e6untit8qj48</string>
	<key>API_KEY</key>
	<string>AIzaSyDJ8jKhR1eVb40Aj9bJbhn04l-d31-BH9k</string>
	<key>GCM_SENDER_ID</key>
	<string>579023396700</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>cs121-5.PaWPal</string>
	<key>PROJECT_ID</key>
	<string>pawpal-406ca</string>
	<key>STORAGE_BUCKET</key>
	<string>pawpal-406ca.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:579023396700:ios:aee14c18e7f3baa2</string>
	<key>DATABASE_URL</key>
	<string>https://pawpal-406ca.firebaseio.com</string>
</dict>
</plist>